# ASSIGNMENT 2

### 1.Discuss string slicing and provide examples.

 **Slicing:-** 
It is  a way to get a part of a string,which we call a substring
we can also say that it is a extraction of characters from the string.
syntax of the slicing is string[start:stop:step]

In [27]:
string1="I am a good student"#space is also counted while indexing

string1[0:4]#it basically starts from 0'th positon and goes to 4'th position

'I am'

In [6]:
string1[0:]#if we not provide end index then it will give substring till the last index

'I am a good student'

In [9]:
string1[:3]#here it will print the first three strings as the end index

'I a'

In [10]:
#if we want to print all characters except last three then

string2="pwskills"

string2[:-3]#we have to simple done the end indexing in negative

'pwski'

In [11]:
#if we want only last three characters then

string2[-3:]#we have to give start index as -3

'lls'

In [13]:
#if we want stepping the character then

string3="hello"

string3[0:5:2]#here we have done the stepping in the character

'hlo'

In [14]:
string3[::-1]#it will iterate the character in the reverse order

'olleh'

### 2.Explain the key features of List in Python.

**List:-** 
- It is a mutable,which means we can do the modification in the list.
- heterogenous, which means we can store many types  datatypes of element in a single list

features of the list are as follows:-

1. Ordered:- 
Lists in Python are ordered. This means that the items in a list appear in a specific order. If you add new items to a list, the new items will be placed at the end of the list

In [17]:
list1=[1,2,3.5,True,2+3j,'Apple']
print(list1)

[1, 2, 3.5, True, (2+3j), 'Apple']

In [20]:
#if we want to add new item in the list the

list1.append('Baingan')#by the append() we can add new items in the list
print(list1)

[1, 2, 3.5, True, (2+3j), 'Apple', 'Baingan', 'Baingan']

we can see that 'baingan' is placed at the end of the list

2. Contain Any Arbitrary Objects:-Lists can contain any type of objects, such as integers, strings, and even other lists1. This makes lists very flexible.

In [21]:
print(list1)

[1, 2, 3.5, True, (2+3j), 'Apple', 'Baingan', 'Baingan']

we can see that various types of datatype of objects are stored in the list

3. Accessed by Index:- Each item in a list has an index, which is its position in the list. List indices start at 0, so the first item in a list is at index.

In [22]:
#for accessing the items of the list we use the indexing.Each and every item have thier index value
list1[3]

True

True have the index value of 3 so thats why we accessed the True

4. Mutable: Lists are mutable, which means you can change their content without changing their identity. You can modify a list by adding, removing, or changing items.

In [23]:
print(list1)

[1, 2, 3.5, True, (2+3j), 'Apple', 'Baingan', 'Baingan']

In [25]:
#if we want to replae 'Apple' with the 'Mango' the
list1[5]='Mango'
print(list1)

[1, 2, 3.5, True, (2+3j), 'Mango', 'Baingan', 'Baingan']

we can see that 'Apple' is replaced by 'Mango'

### 3.Describe how to access,modify and delete elements in a list with examples

**list**:- Is a mutable data structure so that's why we can easily access , modify and delete the elements of the list

In [26]:
list2=['Mahendra','Sumit','Vinod','Raghav','Suresh']
print(list2)

['Mahendra', 'Sumit', 'Vinod', 'Raghav', 'Suresh']

we can see that there are five elements are there in the list2
so,the indexing start from 0 in the list2 and at the 0'th position there is 'Mahendra'.
In the end position there is 'Suresh'.
we can access the elements according to the indexing number of the element

1. Access:- we can access the element by the index values.

In [28]:
#we want to access the 'vinod' .index value of 'vinod' is 2
list2[2]

'Vinod'

In [29]:
#we want to access the 'suresh' then
list2[-1]

'Suresh'

2. Modification:-we can modify the elements of the list easily by the different types of functions.

In [32]:
#we can also replace the one element to the other 
list2[1]='Monty'
print(list2)

['Mahendra', 'Monty', 'Vinod', 'Raghav', 'Suresh']

we can see that 'Sumit' is replaced by the 'Monty'

In [30]:
#by the append() we used to add the new element in the list
list2.append('Vaibhav')
print(list2)

['Mahendra', 'Sumit', 'Vinod', 'Raghav', 'Suresh', 'Vaibhav']

we can see that 'Vaibhav' is added in the list2 by append()

3. Delete:-we can delete the elements in the list by remove().

In [33]:
list2.remove('Mahendra')
print(list2)

['Monty', 'Vinod', 'Raghav', 'Suresh']

here,we can see that 'Mahendra' is deleted from the list

### 4.Compare and contrast tuples and lists with example

Lists and tuples are both types of sequences in Python. They can store multiple items in an ordered sequence
Here are some key differences and similarities between lists and tuples:
- Mutable vs Immutable: Lists are mutable, which means you can change their content. Tuples are immutable, which means you can’t change them once they’re created. 
- Syntax: Lists are surrounded by square brackets [], and tuples are surrounded by parentheses ().
- Memory Usage: Tuples use less memory than lists1. This is because tuples don’t need extra space to add or remove items.
- Performance: Tuples are generally faster than lists, especially when you’re just looking up values.

In [34]:
list3=['biscuts','cakes','shakes','drinks','donuts']
print(list3)

['biscuts', 'cakes', 'shakes', 'drinks', 'donuts']

Is is a list of bakery items.

In [35]:
#we can also modify the items of the list
list3[1]='faluda'
print(list3)

['biscuts', 'faluda', 'shakes', 'drinks', 'donuts']

In [36]:
tuple=('burger','noodles','pizza','manchurian')
print(tuple)

('burger', 'noodles', 'pizza', 'manchurian')

In [37]:
tuple[0]='sandwich'

TypeError: 'tuple' object does not support item assignment

here, we can see that if we want to modify the tuple then it shows the error

### 5.Describe the key features of sets and provide example of their use.

1. Unordered:- Sets in Python are unordered. This means that the items in a set do not have a defined order.Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

In [1]:
set1={"banana","mango","apple","guava"}
print(set1)

{'apple', 'banana', 'mango', 'guava'}

here we can see that, elements of the sets are printed in the alphabetical order,but when we have make the variable then it is in unordered form

2. Unique Elements: Each element in a set is unique, with no duplicates allowed . This means that if you try to add an element that is already in the set, Python will ignore it.

In [2]:
set1.add("banana")
print(set1)

{'apple', 'banana', 'mango', 'guava'}

here, we can see that banana is already exist in the set1 so, if we add one more banana in the set1 the python has ignore it

3. Mutable: Sets are mutable, meaning you can add or remove elements after the set has been created.

In [3]:
set1.add("papaya")
print(set1)

{'banana', 'guava', 'mango', 'papaya', 'apple'}

here we can see that 'papaya' has been added in the set1

In [4]:
set1.remove("papaya")
print(set1)

{'banana', 'guava', 'mango', 'apple'}

here,we can see that 'papaya' is been remove from the set1

4. Supports Mathematical Operations: Sets in Python support mathematical operations like union, intersection, difference, and symmetric difference.

In [10]:
set1={"biscuit","cream roll","pastry","cakes"}
set2={"banana","apple","cherry","pomgranates"}
set3=set1.union(set2)
print(set3)

{'cherry', 'biscuit', 'cream roll', 'banana', 'pastry', 'apple', 'pomgranates', 'cakes'}

here,we can see that how we have performend the union by union() between set1 and set2

### 6.Discuss the use cases of tuple and sets in python programming.

**Tuple**
- Tuples are used to store multiple items in a single variable. They are ordered and immutable.
- Tuples are often used in situations where you need to store heterogeneous data, like that in a database record.
- They are also used to insert records in the database through SQL query at a time.
- Tuples are preferred when we need to deal with a fixed data type.

In [12]:
# Creating a tuple
my_tuple = ("apple", "banana", "cherry")

# Accessing items
print(my_tuple[0])

apple

**Sets**
- Sets in Python are an unordered collection of unique elements.
- One of the main practical applications of Python sets is to return a list of unique values from any Python sequence, such as a list or tuple.
- They are often used for finding unique elements and performing join operations.
- Sets are also used when you want to store multiple items in a single variable, but you don’t care about their order, and you want to ensure that there are no duplicates.

In [14]:
# Creating a set
fruits = {"apple", "banana", "cherry"}

# Adding an element to the set
fruits.add("orange")
print(fruits)

{'apple', 'cherry', 'orange', 'banana'}

we can see that orange is added in the set

In [15]:
print("banana" in fruits)

True

### 7.Describe how to add,modify and delete items in a Dictonary with examples.

1. Adding Items:- You can add an item to a dictionary by using a new key and assigning a value to it.

In [16]:
my_dict = {"apple": 1, "banana": 2}
my_dict["cherry"] = 3
print(my_dict)

{'apple': 1, 'banana': 2, 'cherry': 3}

here, we can see that 'cherry' is added in the dictonary.

2. Modifying Items: You can modify an item in a dictionary by referring to its key name.

In [17]:
my_dict = {"apple": 1, "banana": 2}
my_dict["apple"] = 4
print(my_dict)

{'apple': 4, 'banana': 2}

here, we can see that value of 'apple' is changed 1 to 4

3. Deleting Items: You can delete an item from a dictionary using the del keyword.

In [18]:
my_dict = {"apple": 1, "banana": 2}
del my_dict["apple"]
print(my_dict)

{'banana': 2}

here, we can see that 'apple' is deleted from the dictonary

### 8.Discuss the importance of dictonary keys being immutable and provide examples.

Dictionaries are a flexible data type in Python, allowing for a wide range of values to be used as keys and values. However, there are certain restrictions that must be adhered to when working with dictionary keys.

**Unique Keys**

A dictionary key must be unique. This means that a given key can only appear once in a dictionary. If you attempt to specify a key that already exists in the dictionary, the new value will override the existing one.

**Immutable key types**

In addition to being unique, dictionary keys must be of an immutable type. This means that the key cannot be changed after it is created. Immutable types include integers, floats, strings, and Booleans. Even tuples can be used as keys. However, lists and other dictionaries, which are mutable, cannot be used as dictionary keys.

In [20]:
# Creating a dictionary with an immutable key (a string)
my_dict = {"apple": 1}

# Trying to use a mutable key (a list)
my_list = ["banana"]
try:
    my_dict[my_list] = 2
except TypeError:
    print("Cannot use a list as a dictionary key!")

Cannot use a list as a dictionary key!